<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>
        myShopingCart
    </title>
    
</head>
<body ng-controller="viewAllProduct">
    <h1>All Products</h1>
     <p ng-repeat="item in products"><a href="#/viewProductDetail/{{item.id}}">{{item.name}}</a> prix: {{item.price}}
        <button ng-click="addItem(item)">Add to Cart</button>
    </p>
    <div>
        <p>Cart:</p>
        <p ng-repeat="item in cart">{{ item.qty + ' x ' + item.name + ' = ' + (getCost(item) | currency: " Ariary ") }}
             <button ng-click="removeItem(item);">Remove Item</button>
        </p>
    </div>
    <div>
        <h2>Total:</h2>
        <p>Total: {{ getTotal() | currency: " Ariary " }}</p>
        <p><button ng-click="clearCart();">Clear Cart</button></p>
    </div><br>
    <a href="/#/home">HOME</a>
</body>
</html>